{% extends 'base.html' %}

{% block title %}
News page
{% endblock %}

{% block content %}
<h1>Cloth page</h1>

{% for item in cloth %}
    <div class="card hover-a mb-4">
        <div class="card-body">
            <h2 class="card-title">{{ item.name }}</h2>
            <div class="card-text">Gender Close - {{ item.gender }}</div>
            <div class="card-text">Type - {{ item.type }}</div>
            <div class="card-text small text-muted">Price - {{ item.price }}$</div>
        </div>
    </div>
{% endfor %}
{% endblock %}